<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_rescue"
        tools:targetApi="31">
        <activity
            android:name=".home.activity.TopicReportActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.AdoptAboutActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.WebPageActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.BlackDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.BlackListActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserAccountSafeActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserSettingActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.UserInfoEditActivity"
            android:exported="false" />
        <activity
            android:name=".message.activity.CommentListActivity"
            android:exported="false" />
        <activity
            android:name=".show.activity.ShowDetailActivity"
            android:exported="false" />
        <activity
            android:name=".message.activity.MessageSingleActivity"
            android:exported="false" />
        <activity
            android:name=".show.activity.GambitListActivity"
            android:exported="false" />
        <activity
            android:name=".show.activity.ShowReleaseActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.activity.FindPetDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.CitySelectActivity"
            android:exported="false" />
        <activity
            android:name=".message.activity.MessageSystemListActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.TagListActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.ReleaseTopicActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.HomeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false" />
        <activity
            android:name="com.luck.picture.lib.basic.PictureSelectorSupporterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Android_rescue" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>